.logo {
  width: 100vw;
  height: 15vh;
  text-align: center;
  background-color: #e5eafe;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  
}
ion-icon {
  font-size: 30px;
}

.fb ion-icon{
  color: #3b5998;
  
}
.twitter ion-icon{
  color: #00acee;
 
}
.youtube ion-icon {
  color: #c4302b;
}

hr {
  margin: 0px;
}

